<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GUI.Properties.Settings.QLHocSinhConnectionString"
      connectionString="Data Source=DESKTOP-NU6RJGH;Initial Catalog=QLHocSinh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>